page-roll {
 ion-label.title{
     font-weight: bold;
     display: block;
     font-size: 16pt;
 }
 ion-label.result.label.label-md{
     font-weight: bold;
     display: block;
     font-size: 16pt;
 }
}
