page-viewStats {
    background: color($colors, map, base);

    .raceAlignmentBlock, .baseStatsBlock, .abilityScoresModsBlock, 
    .baseStatsBlock, .nameClassBlock, .skillsBlock, .abilitiesBlock, .gearBlock {
        border-bottom: 1px solid #B87333;
    }
    .nameClassBlock, .gearBlock{
        border-bottom: 3px solid #B87333;
    }

    .showSkillsToggle, .hideGearToggle, .showGearToggle, .hideAbilitiesBlock,
    .showAbilitiesBlock, .hideSkillsToggle{
        text-decoration: underline #B87333; 
    }

}
